.left{
    width: 25%;
    height: 700px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
   padding: 40px 5px;
}
.underline
{
  position: relative; 
}

.underline::after
{    
  content: "";
  height: 5px;width: 0px;
  transition: .4s;
  background:linear-gradient(90deg,#f700e3,#8f05f7f5);
  position: absolute;
  bottom:-5px;
  left:50%; 
}


.underline:hover::after
{
  left: 0;
 width: 100% ;
}

  

.menu 
{
  padding-left: 50px;
  list-style:none;
  font-size: 20px;
  font-weight: bold;
}
.left .menu .option { line-height:60px; }
.left .menu .x
{ 
display: flex;
justify-content: left;
text-align: left;}
.left .menu .x .sym{color: gray;font-size: 40px; line-height: 60px;}

.subline {font-weight: 100;color: gray;font-size: 16px; line-height: 5px; text-align: center;}
.line{text-align: center;}
.left .size{width: 33%;}
.left .symbols  .size .social { height: 40px; width: 40px;
                              background:rgb(238,238,238) ;
                              margin: 15px auto ;
                              border-radius: 50% 50%;text-align: center;
                              line-height: 40px;
                              transition: 1s;}
.left .symbols {display: flex;flex-wrap: wrap;justify-content: space-between; margin: 20px 0px;}

.left .symbols  .size .social:hover{background:linear-gradient(90deg,#f700e3,#8f05f7f5);}
