.header
{       background:url(../img/p-dark-logo3.png);
        background-repeat: no-repeat;
        background-size:auto 100%; 
        line-height: 100px;
        height: 100px;
        width:100%;
        display:block;
       
    }
.header span
{
    float: right;
}
