
.bgstyle1
{   height: 350px;
    width: 600px;
    font-size: xx-large;
    font-weight: bold;
    border: 10px rgba(223, 243, 245,.7) solid;
    text-align: center;
    line-height: 200px;
    background-clip: border-box;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: -10px ;
    transition: .5s;
    padding: 50px 50px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid;
}
.bgstyle1 span
{
    position: absolute;
    top: auto;
    left: 40%;
}
.bgstyle1 span::first-letter{color: red;}

.subframe
{
    height: 250px;width: 400px;
    text-align: right;
    word-spacing: 15px;
    letter-spacing: 7px;
    line-height: 300px;
    font-family: fantasy;
    font-size: large;
    font-weight: 800;
    color: azure;
    border: 5px solid rgb(248, 241, 241);
    visibility: hidden;
    box-sizing: border-box;
    position: absolute;
    top:auto;
    left: auto;
    transition: .5s; 
}
.bgstyle1:hover .subframe
{  
   visibility: visible;
    width: 450px;
}

