 
        .cardmain{
            background: rgb(44, 8, 223);
            height: 350px;
            width: 200px;
            margin: auto;
            box-shadow: 0 0 5px rgba(37, 2, 2,.6);
        }
        .prdmain
        {
            height: 250px;;
            width:200px;
           background:white;
            position: relative;
            box-sizing: border-box;
        }

        .prdmain span
        {
            background: red;
            color: white;
            position: absolute;
            font-size: small;
            top: 0;
            right: 0;
        }
        .prdview
        {
            height: 40px;
            background: black;
            color: white;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0; 
            transition: .5s;
          
        }
      
        .front,.back
        {
            height: 250px;
            width: 100%;
            background: white;
            border: 10px solid transparent;
            border-top: 15px solid  transparent;
            border-bottom: 5px solid  transparent ; 
            transform: rotateY(0 deg);
            position: absolute;
            top: 0;
            left: 0;
             backface-visibility: hidden; 
            transition: 1s;
        }
        
         .back
        {
            transform:rotateY(180deg);
        }  

        .prdmain:hover .prdview
        {
           top: 210px;
            opacity: 1;
        }

        .prdmain:hover .front
        {
            transform: rotateY(180deg);
        }
          .prdmain:hover .back 
        {
            transform: rotateY(360deg);
        }   

        .prdinfo
        {
            background:white;
            height: 100px;
            text-align: center;
       
            line-height: 25px;
            position: relative;
        }
        .prdinfo a
        {
            text-decoration: none;
            color: red;
            font-size: small;
            display: block;
        }
        .prdinfo span
        {
            text-decoration: line-through;
            font-size:medium;
            font-weight: 200;
            color: rgba(133, 132, 131, 0.9);
        }
        
        .h{
            /* height: 150px;width: 50px; */
            background: rgb(67, 146, 120);
            color: white;
            outline: rgb(67, 146, 120) 3px solid;
            outline-offset:0px;
            display: block;
            position: absolute;
            left: 50px;
            bottom: 20px;
            transition: .4s;
         }
         .h:hover
         { outline-offset: 10px;}

         button{
            border: none;
         }