.frame3{ display: flex;} 

.bgstyle2,.bgstyle2o
{   width: 50%;
    background:url(../img/bot_2.jpg);
    position: relative; 
    font-size: x-large;
    word-spacing: 20px;
    letter-spacing: 10px;
    text-align: center;
    line-height: 300px;
    text-transform: uppercase;
    overflow: hidden;  

}
.bgstyle2o
{
    background: url(../img/bot_1.jpg);
 
}
.bgstyle2 span,.bgstyle2o span
{color: aqua;}
.bgstyle2::after,.bgstyle2o::after
{   content: "";
    height: 300px;width: inherit;
    background: rgba(104, 100, 100, 0.3);
    position: absolute;
    transition: .5s;
    bottom: -100%;
    left: -100%;

}
.bgstyle2::before,.bgstyle2o::before
{   content: "";
    height: 300px;width: inherit;
    background: rgba(104, 100, 100, 0.3);
    transition: .5s;
    position: absolute;
    top: -100%;
    right: -100%;
    
}

 .bgstyle2:hover::after,.bgstyle2o:hover::after
{
    bottom: 0%;
    left:0%;

 }
  .bgstyle2:hover::before,.bgstyle2o:hover::before 
 {
    top: 0%;
    right:0%;
 }