.header
{
   
    background:linear-gradient(rgba(31, 100, 238, 0.4),rgba(31, 100, 238, 0.4)), url(../img/wpresidece-header.jpg);
    color: white;
}
/* @import 'topbar.css'; */
/* @import url(menu.css); */
/* @import 'downmenu.css'; */

.header .mainbar
{
    background: black;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
    position:fixed;
}

