
.header .menu
{
    display: grid;
    grid-template-columns: 3fr repeat(7,1fr) 2fr 2fr 2fr  1fr;
    text-align: center;
    font-weight: bold;
    padding: 10px;
  

}

.menu .a{padding: 20px 0px;}
.menu .login{display: flex;}
.user
{
   background:blue;
   color: white;
   height: 20px;
    width: 60%;
    overflow: hidden;
    font-weight: bold;
    position: relative;
    z-index: 0;
}
.user::before
{
    content: "";
    background: black;
    height: 20px;
    width: 200%;
    position: absolute;
    top: 0;
    left: -300%;
    z-index: -1;
    transition: 3s;
}
.user:hover::before
{left: 300%;}

