.header .text 
{
    text-align:center;
    padding: 70px 0px;
    margin: auto;
    width: 45vw;
    font-size: 17px;
    font-family: var(--e-global-typography-text-font-family ),Sans-serif;
}
.header .text .text1
{
    padding-bottom:30px;
    display: block;
    font-size: 45px;
    font-family:  roboto,Sans-serif;
}
