*{margin: 0%;padding: 0%;box-sizing: border-box;
    font-family: Montserrat;}
.navebar
{
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  word-spacing: 35px;
  font-size: 25px;
  color: #ffc200;
  font-weight: bolder; 
}
li
{
    display: inline;
}
.bars
{
    display: none;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: space-between; 
}
.right,.left{
    text-align: center;
    padding: 15px;
    background:#333333;
}
.head{
    color: #ffc200;
    font-size: 100px;
    font-family:Grand Hotel;
}
p{
    padding: 15px;
    color: #ffffff;
    font-size: 30px;
}
.button{
    display: inline-block;
    padding: 5px;   
    background: #ffc200;
    font-size: 25px;
    font-weight: bold;
    color: #333333;  
    transform: translateY(50px); 
}
.order{
    height: 250px;
    width: 250px;
    background: url(../img/Place\ Your\ Image\ Here\ \(Double\ Click\ to\ Edit\).png);
    border-radius: 50% 50%;
    background-size: 100%;
    transform: translateY(200px);
}
.bottom{
    margin-top:-20px;
    margin-left: -40px;
}
@media (max-width:900px) {
    ul
    {
        display: none;
        list-style: none;
        width: 100%;
    }
    .bars
    {
        display: block;
    }
    li
    {
        display: block;
        padding-left: 25px;
        background: #ffffff;
        background-clip:content-box; 
    }
    .navebar
    {
        position: relative;
    }
    .menu
    {
        position: absolute;
        top: 100%;
        right:0;
    }
    .footer{
        display: block;
    }
}